body {
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main {
    font-weight: bold;
    padding: 15px;
}

h2 {
    font-size: 19px;
    margin-top: 10px;
}

h2:nth-child(1) {
    margin-top: 60px;
}

hr {
    border: 1px solid #E2F0FF;
    width: 100vw;
    padding: 0;
    position: relative;
    margin-top: 15px;
    right: 10px;
}

#chart {
    margin-top: 20px;
}

.bar-container {
    margin-bottom: 30px;
    position: relative;
}

.date-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    background-color: #0093FB;
    padding: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 0px 10px 10px 0;
}

.bar::after {
    content: "";
    position: absolute;
    top: 0;
    min-width: 75vw;
    z-index: -1;
    left: 0;
    height: 100%;
    border-radius: 0px 10px 10px 0;
    background-color: #EFEFEF;
    position: absolute;
}

.percentage {
    position: absolute;
    right: 5px;
    top:16px
}

.label {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.gray-bar {
    background-color: #EFEFEF;
}

#daysSelect {
    background-color: #EFEFEF;
    border: none;
    padding: 8px 15px;
    padding-right: 0px;
    border-radius: 10px;
    font-weight: bold;
}

.buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 10px;
}

.filter-button.selected {
    background-color: #E2F0FF;
    color: #0B8CE4;
}

.buttons button {
    font-weight: bold;
    border: none;
    padding: 10px;
    background-color: #EFEFEF;
    border-radius: 7px;
    cursor: pointer;
}