body {
    font-family: 'Segoe UI', Arial, Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #0c0f14;
    color: #f9fdff;
}

main {
    font-weight: bold;
    padding: 15px;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
}

h2:nth-child(1) {
    margin-top: 60px;
}

hr {
    border: 1px solid #15181d;
    width: 99vw;
    padding: 0;
    position: relative;
    margin-top: 15px;
    right: 13px;
}

.followers-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.followers-section h1 {
    margin: 0;
    font-size: 17px;
}

.followers-section div {
    margin-right: 5px;
}

#chart {
    margin-top: 20px;
}

.bar-container {
    margin-bottom: 20px;
    position: relative;
}

.date-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    background-color: #f143f4;
    padding: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 0px 10px 10px 0;
    max-width: 75vw;
}

.bar::after {
    content: "";
    position: absolute;
    top: 0;
    min-width: 77vw;
    z-index: -1;
    left: 0;
    height: 100%;
    border-radius: 0px 10px 10px 0;
    background-color: #26292e;
    position: absolute;
}

.percentage {
    position: absolute;
    right: 5px;
    top: 16px;
    font-size: 14px;
}

.label {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 0.1px;
}

#daysSelect {
    background-color: #26292e;
    color: #f9fdff;
    border: none;
    padding: 8px 15px;
    padding-right: 0px;
    margin-top: 7px;
    border-radius: 10px;
    font-weight: bold;
}

.buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 10px;
}

.filter-button.selected {
    background-color: #ffffff;
    color: #000000;
}

.buttons button {
    font-weight: bold;
    border: none;
    padding: 8px;
    color: #f9fdff;
    background-color: #25282d;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Segoe UI', Arial, Tahoma, Geneva, Verdana, sans-serif;
}

.pie-chart {
    background:
        radial-gradient(circle closest-side,
            #0c0f14 0,
            #0c0f14 52.8%,
            transparent 5%,
            #0c0f14 0),
        conic-gradient(#f53ef2 0,
            #f53ef2 64.6%,
            #7636ff 0,
            #7636ff 100%);
    position: relative;
    min-height: 350px;
    margin: 0;
}

.pie-chart h2 {
    position: absolute;
}

.pie-chart figcaption {
    display: flex;
    gap: 126%;
    margin: 0 53%;
    position: absolute;
    bottom: 10em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}

.pie-chart .pie-color:after {
    display: inline-block;
    position: relative;
    bottom: 1.6em;
    right: -13px;
    content: "";
    width: 0.7em;
    height: 0.7em;
    margin-left: 4px;
    border-radius: 2em;
    background: currentColor;
}

.percentage-text {
    color: #aeb1b6;
    font-weight: 100;
    font-size: 1rem;
}

#percentage1,
#percentage2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.date-section__title{
    margin-top: 0!important;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
}

.bar-chart {
    position: relative;
    width: 50px;
    background-color: #f53ef2;
    text-align: center;
    color: white;
    margin: 0 2px;
    transition: height 0.5s;
    border-radius: 10px;
}

.bar-chart span {
    position: absolute;
    bottom: -30px;
    min-width: max-content;
    color: #aeb1b6;
    font-weight: 400;
    left: 10px;
}

.days-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: row-reverse;
}

.day-button {
    padding: 10px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: #25282d;
    cursor: pointer;
    border-radius: 5px;
}

.day-button.selected {
    background-color: #ffffff;
    color: #25282d;
}

.translate-section {
    translate: 0px -40px;
}

.date-section__title {
    translate: 0px -40px;
}

.separador {
    border: 3px solid #232429;
}

.separador--1 {
    translate: 0px 30px;
    z-index: 100;
}

.separador--2 {
    translate: 0px -90px;
}